# http://editorconfig.org

# top-most EditorConfig file
root = true

# these are the defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Test files need kid gloves
[*.{source,out}]
insert_final_newline = true
trim_trailing_whitespace = false

# C files want tab indentation
[*.{c,h,md}]
indent_style = tab
indent_size = 4

# Makefiles want tab indentation
[Makefile]
indent_style = tab
