# GitHub Actions for OGR-FDW
#
# Paul Ramsey <pramsey at cleverelephant dot ca>

name: "CI"
on:
  push:
    branches-ignore:
      - 'master'
  pull_request: ~

jobs:
  linux:
    name: "CI"
    strategy:
        fail-fast: false
        matrix:
          ci:
          - { PGVER: 14 }
          - { PGVER: 15 }
          - { PGVER: 16 }

    runs-on: ubuntu-latest
    steps:

    - name: 'Check Out'
      uses: actions/checkout@v3

    - name: 'Install GDAL'
      run: |
        sudo add-apt-repository ppa:ubuntugis/ppa
        sudo apt-get update
        sudo apt-get install libgdal-dev

    - name: 'Install PostgreSQL'
      run: |
        sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg-snapshot main ${{ matrix.ci.PGVER }}" > /etc/apt/sources.list.d/pgdg.list'
        curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/apt.postgresql.org.gpg >/dev/null
        sudo apt-get update
        sudo apt-get -y install postgresql-${{ matrix.ci.PGVER }} postgresql-server-dev-${{ matrix.ci.PGVER }}

    - name: 'Start PostgreSQL'
      run: |
        export PGDATA=/var/lib/postgresql/${{ matrix.ci.PGVER }}/main
        export PGETC=/etc/postgresql/${{ matrix.ci.PGVER }}/main
        export PGBIN=/usr/lib/postgresql/${{ matrix.ci.PGVER }}/bin
        # sudo su postgres -c "$PGBIN/pg_ctl --pgdata $PGDATA stop"
        # sudo $PGBIN/pg_ctlcluster ${{ matrix.ci.PGVER }} main stop
        sudo cp ./ci/pg_hba.conf $PGETC/pg_hba.conf
        sudo su postgres -c "$PGBIN/pg_ctl --pgdata $PGDATA start -o '-c config_file=$PGETC/postgresql.conf -p 5432'"

    - name: 'Build & Test'
      run: |
        export PATH=/usr/lib/postgresql/${{ matrix.ci.PGVER }}/bin/:$PATH
        PG_CFLAGS=-Werror make
        sudo make install
        PGUSER=postgres make installcheck || (cat regression.diffs && /bin/false)


